# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore sensitive files
.env

# Ignore PHP local development files
*.log
*.bak
*.swp

DB/
quickPaste/vendor/
*.phar